.navbar_text {
	font-family: 'Montserrat', serif;
}

body {
	background-color: #1ABC9C;
}

p {
	color:white;
}

#terms  {
    color: gold;
}

/* visited link */
#terms:visited {
    color: gold;
}

/* mouse over link */
a:hover {

}

/* selected link */
a:active {

}

#user_inputs {
	padding-top: 55px;

}

.line {
	border-top: 1px solid black;
}

.line_container {
	padding-top: 60px;
}

#logo {
	width: 100%;
	height: 100%;
}

#sign_in {
	padding-left: 50px;
	padding-bottom: 25px;
	background-color: #34495E;
	box-shadow: 0 0 30px black;
	width: 80%;
	padding-top: 20px;
	padding-right: 50px;
}

#sign_up {
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 25px;
	background-color: #34495E;
	box-shadow: 0 0 30px black;
	width: 80%;
	padding-top: 20px;
}

.sign_titles {
	padding-bottom: 20px;
	color: gold;
	font-size: 30px;
	font-family: 'Montserrat', serif;
}

.input_container {
	padding-bottom: 20px;
}

.input_fields {
	width: 95%;
}

#password_padding_sign_in {
	padding-bottom: 35px;
}

#sign_in_btn {
	font-family: 'Montserrat', serif;
	font-size: 20px;
	width: 45%;
}

#sign_up_btn {
	font-family: 'Montserrat', serif;
	font-size: 20px;
	width: 45%;
}

::-webkit-input-placeholder {
	font-family: 'Montserrat', serif;
}

:-moz-placeholder { /* Firefox 18- */
	font-family: 'Montserrat', serif;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-family: 'Montserrat', serif;
}

:-ms-input-placeholder {  
	font-family: 'Montserrat', serif;
}  
