body {
	background-color: #1ABC9C;
}

h1 {
	padding-top: 20px;
	color: gold;
	font-size: 30px;
	font-family: 'Montserrat', serif;
}

p {
	color: white;
	text-align: left;
	padding-left: 50px;
	padding-top: 40px;
}

.terms {
    color: gold;
}

/* visited link */
.terms:visited {
    color: gold;
}

/* mouse over link */
a:hover {
	color: gold;
}

/* selected link */
a:active {
	color: gold;
}


#terms_container {
	width: 100%;
	text-align: center;
	padding-bottom: 25px;
	background-color: #34495E;
	box-shadow: 0 0 30px black;

}

#content_container {
	padding-top: 30px;
}