<!DOCTYPE html>
<html lang="en" ng-app = "indexApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Word Choice: Home</title>

    <!--  CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
</head>

<!-- run init() on page load -->
<body ng-controller="indexController" data-ng-init="init()">
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a  class="navbar_text navbar-brand page-scroll" href="/#title_screen">Word Choice</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="link in left_side_navbar_links">
                         <a class="page-scroll navbar_text" 
                         ng-click="link.behavior"
                         ng-href="{{ link.url }}">
                            {{link.name}}
                         </a>
                    </li>
                </ul>
                 <ul class="nav navbar-nav navbar-right">
                    <li ng-repeat="link in right_side_navbar_links">
                         <a class="page-scroll navbar_text" 
                         ng-click='signOut()'
                         href="{{link.url}}">
                            {{link.name}}
                         </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar -->

    <div id = "title_screen" class = "container">
        <div class = "row">
            <div id = "titles_container">
                <div id = "text">
                    <div class = "row">
                        <h1 class = "home_titles" id = "main_title">Word Choice</h1>
                    </div>
                    <div class = "row">
                        <h4 id = "sub_title" class ="home_titles">Diversify your Writing</h4>
                    </div>
                    <div id = "main_buttons" class = "row">
                        <div class = "col-sm-6" id = "learn-wrapper">
                            <a href="#about_content" id = "get-started" class="pull-right home_btn btn btn-warning home_titles">Get Started</a>
                        </div>
                        <div class = "col-sm-6" id = "get-wrapper">    
                            <a href="/signin" id = "get-started" class="pull-left home_btn btn btn-warning home_titles">Sign in</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id = "content-screen">
        <div id = "about_content" class = "container">
            <!-- logo -->
            <div class = "row">
                <div class = "col-sm-5 line_container">
                    <div class="hr line"></div>
                </div>
                <div class = "col-sm-2">
                    <a href = '/'><img id = "logo" src = "assets/img/logo.png"></a>
                </div>
                <div class = "col-sm-5  line_container">
                    <div class="hr line"></div>
                </div>
            </div>
            <!-- logo 00 -->

            <!-- ABOUT content -->
            <h2 id = "about_title">ABOUT</h2>
            <div  class = "row">
                <div class = "col-sm-6">
                    Do you find your essay to be boring, repetitive, or bland? Maybe you need to spice it up by improving your <i>word choice</i>? Diction is an important part of writing. Using a wide variety of words helps create more vivid imagery for the reader. At Word Choice, we allow you to do just that - <i>diversify your writing</i>.
                    <br><br>
                    Word Choice is a tool that analyzes submitted articles and suggests synonms for frequently used words. A histogram is created in order to help users visualize their data and a list of synonms is generated thanks to the thesaurus service provided by <a target="_blank"  href = "words.bighugelabs.com">words.bighugelabs.com</a>. <strong>Please be courteous with the number and size of article submissions as we have limited API calls!</strong>
                    <br><br>
                    Get started now by clicking "Analyze your writing" on the header or by creating an account. By creating an account, Word Choice can track your most frequently used words. 
                    <br><br>
                    Word Choice is created by David Qian, a second year software engineering student at the University of Waterloo. This webapp is built on the MEAN stack and  
                    <a target="_blank"  class = "links"  href="https://github.com/isNPComplete/word_choice">source code</a> is avaliable under the MIT license. Third party tools such as <a target="_blank" class = "links" href="https://github.com/nnnick/Chart.js">Chart JS</a>, 
                    <a class = "links" target="_blank"  href="https://github.com/daneden/animate.css">Animate.css</a>
                    and Material Design concepts were used in this product. If you have any question or concerns, please email  diversifywithwordchoice@gmail.com.
                    <br><br>
                    Word Choice is a new product and it is still under construction. Check back soon for updates on new features.
                </div>
                <div id = "graph_pic_container" class = "col-sm-6">
                    <img id = "graph" src="assets/img/graph.png">
                    <a href="/signin" class="btn btn-success btn-large" id = "sign_up_content"><i class="icon-white icon-pencil"></i>Sign up Now!</a>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div  id = "try_it" class = "container">
            <a href="/writing_analyzer" class="btn btn-warning btn-large" id = "try_it_content"><i class="icon-white icon-pencil"></i> Try it now! </a>
        </div>
    </div>

    <!-- SCRIPTS -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68110579-1', 'auto');
      ga('send', 'pageview');
    </script>

    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    
    <!-- CONTROLLER -->
    <script type="text/javascript" src="/index.client.controller.js"></script>
    

</body>
</html>