<!DOCTYPE html>
<html lang="en" ng-app = "signinApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Word Choice: Sign in</title>

    <!--  CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/signin.css">
    <link rel="stylesheet" href="css/animate.min.css">

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="signinController" data-ng-init="init()">
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a  class="navbar_text navbar-brand page-scroll" href="/#title_screen">Word Choice</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="link in left_side_navbar_links">
                         <a class="page-scroll navbar_text" 
                         ng-click="link.behavior"
                         ng-href="{{ link.url }}">
                            {{link.name}}
                         </a>
                    </li>
                </ul>
                 <ul class="nav navbar-nav navbar-right">
                    <li ng-repeat="link in right_side_navbar_links">
                         <a class="page-scroll navbar_text" 
                         ng-click='signOut()'
                         href="{{link.url}}">
                            {{link.name}}
                         </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar -->
    <div id = "user_inputs" class = "container">
        <div class = "row">
            <div class = "col-sm-5 line_container">
                <div class="hr line"></div>
            </div>
            <div class = "col-sm-2">
                <a href = "/"><img id = "logo" src = "assets/img/logo.png"></a>
            </div>
            <div class = "col-sm-5  line_container">
                <div class="hr line"></div>
            </div>
        </div>
        <div class = "row">
            <div class = "col-sm-6">
                <div id = "sign_in" class = "container">
                    <form ng-submit = "sign_in()">
                        <h1 class = "sign_titles">Sign in</h1>
                        <div class = "row input_container">
                            <input ng-model = "sign_in_username" class = "form-control input-lg input_fields" type = "text" placeholder = "Username">
                        </div>
                        <div id = "password_padding_sign_in" class = "row input_container">
                            <input ng-model = "sign_in_password" class = "form-control input-lg input_fields" type ="password" placeholder = "Password">
                        </div>
                        <div class = "row text-center input_container">
                            <button type = "submit" class="btn btn-warning btn-large" id = "sign_in_btn">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class = "col-sm-6">
                <div  id = "sign_up" class = "container">
                    <h1 class = "sign_titles">Sign up</h1>
                    <form ng-submit = "sign_up()">
                        <div class = "row input_container">
                            <input class = "form-control input-lg input_fields" type = "text" ng-model = "sign_up_username" placeholder = "Username">
                        </div>
                        <div class = "row input_container">
                            <input class = "form-control input-lg input_fields" type = "password" ng-model = "sign_up_password" placeholder = "Password">
                        </div>
                        <div class = "row input_container">
                            <input class = "form-control input-lg input_fields" type = "text" ng-model = "sign_up_email" placeholder = "Email (optional)">
                        </div>
                        <div class = "row input_container">
                            <p class = "input_fields">By signing up, you agree to our <a id = "terms" href = "/terms" target = "_blank"> terms and services. </a></p>
                        </div>
                        <div class = "row text-center input_container">
                            <button href="#" class="btn btn-success btn-large" id = "sign_up_btn">Sign up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- SCRIPTS -->
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
  
    <script src="js/bootstrap-notify.min.js"></script>


    <!-- CONTROLLER -->
    <script type="text/javascript" src="/signin.client.controller.js"></script>
    <script type="text/javascript" src="js/signin.js"></script>
</body>
</html>