<!DOCTYPE html>
<html lang="en" ng-app = "writing_analyzerApp">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Word Choice: Diversify your Writing</title>

    <!--  CSS -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/writing_analyzer.css">

    <!-- FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
</head>

<body ng-controller="writing_analyzerController" data-ng-init="init()">
    <!-- navbar -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a  class="navbar_text navbar-brand page-scroll" href="/#title_screen">Word Choice</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="link in left_side_navbar_links">
                         <a class="page-scroll navbar_text" 
                         ng-click="link.behavior"
                         ng-href="{{ link.url }}">
                            {{link.name}}
                         </a>
                    </li>
                </ul>
                 <ul class="nav navbar-nav navbar-right">
                    <li ng-repeat="link in right_side_navbar_links">
                         <a class="page-scroll navbar_text" 
                         ng-click='signOut()'
                         href="{{link.url}}">
                            {{link.name}}
                         </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- navbar -->
    <div class = "container">
        <!-- logo -->
        <div id = "line_section" class = "row">
            <div class = "col-sm-5 line_container">
                <div class="hr line"></div>
            </div>
            <div class = "col-sm-2">
                <a href = "/" ><img id = "logo" src = "assets/img/logo.png"></a>
            </div>
            <div class = "col-sm-5  line_container">
                <div class="hr line"></div>
            </div>
        </div>
        <!-- logo -->
        <div class = "row">

            <!-- Article submit column -->
            <div  id = "left_column" class = "col-sm-6">
                <form ng-submit = "submitArticle()">
                    <div id = "text_submit">
                        <h1 id = "text_title">Diversify your writing!</h1>
                        <textarea ng-model = "article" class="form-control" rows="5" id="essay" placeholder = "Copy and paste your article here!"></textarea>
                        <br>
                        <p>By using our tool, you AGREE to the <a class = "terms" target = "_blank" href = "/terms">terms and conditions. </a></p>
                        <div class = "row">
                            <div id = "analyze_btn_container" class = "col-sm-12">
                                <button type = "submit" class="pull-right btn btn-success btn-large" id = "analyze_btn">Analyze!</button>
                                <p>Note: Only correctly spelled, non-structure English words are included in your analysis.</p>
                            </div>
                        </div>
                        <div id = "analysis_row" class = "row">  
                            <hr>
                            <p id = "analysis"></p>
                        </div>
                    </div>
                </form>
            </div>  

            <!-- Graph result column -->
            <div id = "right_column" class = "col-sm-6">
                <div id = "graph_display">
                    <h1 id = "graph_title">Most used Words: </h1>
                    <canvas id="myBarChart" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>


    <!-- SCRIPTS -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-68110579-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
    <script src="js/chart_js/Chart.js"></script>

    <!-- CONTROLLER -->
    <script type="text/javascript" src="js/writing_analyzer.js"></script>
    <script type="text/javascript" src="/writing_analyzer.client.controller.js"></script>

</body>
</html>